.mini4{
    width: 100%;
    position: relative;
    height: 670px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 }
 .mini4-1{
    display: flex;
    position: absolute;
    width: 500px;
    height: 670px;
    overflow: hidden;
    
 }

 .img{
    position: relative;
    width: 920px;
    top: 80px;
    left: -250px;
    transform: rotate(100deg);
    filter: blur(3px);
 }
 .pixel{
    display: flex;
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 670px;
 }
 .Bloc-4{
    position: relative;
    display: flex;
    z-index: 100;
    width: 300px;
    height: 80px;
 }
 .Bloc-4 p{
    margin-top: 20px;
    margin-left: 45px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
 }
 .Bloc-4-2{
    position: relative;
    display: flex;
    width: 310px;
    height: 30px;
    z-index: 101;
    margin-top: 20px;
    margin-left: 45px;
 }
 .Bloc-4-1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 30px;
    z-index: 101;
    margin-top: 20px;
 }
 .Knop-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0); 
    border: 1.5px solid #ffffff;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
 }
 .Knop-1 p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
 }
  
  .Knop-1.active {
    background: #99CF63;
    border-color: #99CF63;
  }

.Bloc-5{
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 230px;
    z-index: 102;
    margin-top: 20px;
}
.img-5{
    position: relative;
    display: flex;
    width: 380px;
    left: 5px;
    height: 170px;
    z-index: 102;
}
.line{
    position: absolute;
    display: flex;
    width: 400px;
    margin-left: 20px;
    height: 225px;
}
.img-5-2{
    position: absolute;
    display: flex;
    height: 4px;
    width: 360px;
    left: 10px;
    margin-top: 220px;
}
.img-5-1{
    position: absolute;
    display: flex;
    height: 195px;
    left: 100px;
    top: 27px;
    z-index: 103;
}
.Bloc-6{
    width: 300px;
    height: 180px;
    position: relative;
    display: flex;
    
}
.Bloc-6 p{
    color: #B6B6B6;
    z-index: 104;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    margin-left: 30px;
}